Checks: >-
  -*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  bugprone-*,
  performance-*,
  portability-*,
  -fuchsia-*,
  -llvm-*,
  -google-readability-todo,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-reserved-identifier,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-special-member-functions,
  -modernize-avoid-c-arrays,
  -modernize-type-traits,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -performance-enum-size,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-uppercase-literal-suffix
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|/)(include|src)/cpipe/'
FormatStyle: file
